<div class="post-container">
  <%= render partial: 'shared/idea_detail', object: @idea, as: :idea %>
</div>

<hr />

<div class="post-reply">
  <%= link_to 'Reply', new_idea_comment_path(idea_id: @idea, parent_id: nil),
                       class: 'btn btn-primary',
                       method: :get %>
  <div id="<%= "comment-#{nil}-reply" %>" class="comment-reply-form"></div>
</div>

<hr />

<div class="comments-container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Recent comments:</h4>
    </div>
  </div>

  <%= @idea.comments_block %>
</div>
