<div class="row">
  <% if @parent %>
    <%= render partial: 'shared/comment_summary', object: @comment.parent, as: :comment %>
  <% else %>
    <%= render partial: 'shared/idea_summary', object: @comment.idea, as: :idea %>
  <% end %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>
