<section id="recent_posts">
  <div class="row">
    <div class="col-sm-12">
      <h3>Recent ideas:</h3>
    </div>
  </div>

  <%= render partial: 'shared/idea_summary', collection: @recent_ideas,
                                             as: :idea %>
</section>

<section>
  <%= link_to 'Create a new idea', new_idea_path, class: 'btn btn-primary' %>
</section>
